@import "tailwindcss";

:root {
  font-family: "Outfit", sans-serif;

  color: #3A312C;

  background: #F8F5F2;

  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  
  --font-size-hero: 36px;
}

@media (min-width: 768px) {
  :root {
    --font-size-hero: 42px;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-hero: 48px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  min-width: 320px;

  background: #F8F5F2;
}

button,
input,
textarea,
select {
  font: inherit;
}